body{
    margin:0px;
}
header{
    justify-content:center;
    align-items:center;
    display:flex;
    height:10%;
    column-gap:25px;
    margin:0px;
    background-color:black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width:100%;
    height:100%;
    color:white;
}
.navbar-sect{
    height:100%;
    display:flex;
    flex-direction:row;
    column-gap:80px;
}
.navbar-left{
    float:left;
    margin-left:2%;
}
.navbar-right{
    float:right;
    margin-right:1%;
}
.navbar-item{  
    height:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align:center;
    font-size:1.5vw;
}

.navbar-right .icon{
    font-size:2vw;
    display:none;

}
.logo{
    font-size: 2.67vw;
}
a{
    color:white;
    text-decoration:none;
}

.vertical-navbar{
    position:absolute;
    top:10%;
    background-color:black;
    width:100%;
    display:flex;
    flex-direction:column;
    row-gap:20px;

}

.vertical-navbar .navbar-item{
    margin-top:15px;
    color:white;
    font-size: 2vw;
    margin-left:2%;
    width:min-content;
}

.vertical-navbar .icon{
    margin-bottom:30px;
    font-size: 2.7vw;
    margin-left:2%;
}






@media only screen and (max-width: 800px) {
    .navbar-right-link{
        visibility:hidden;
        pointer-events:none;
    }
    .navbar-right .icon{
        display:flex;
    }
}
  
