body{
    margin:0px;
    padding:0px;
}
header{
    justify-content:center;
    align-items:center;
    display:flex;
    height:20%;
    margin:0;
    background-color:black;
}
.container{
    margin:4%; 
    width:92%;
}

.mycontainer{
    position:relative;
    z-index:-1;
    margin-top:5%;
}
.about-desc-wrapper{
    text-align:center;
    margin-top:2%;
}

.myjumbotron{
    height:70vh;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
