body{
    margin:0px;
    padding:0px;
}
header{
    justify-content:center;
    align-items:center;
    display:flex;
    height:20%;
    margin:0;
    background-color:black;
}
.container{
    margin:4%; 
    width:92%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.row{
    display:flex;
    flex:1;
    margin-bottom:5vh;
}
.mycontainer{
    position:relative;
    z-index:-1;
    margin-top:5%;
}
.about-desc-wrapper{
    text-align:justify;
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.about-image-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1;
}

.header-wrapper{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.lg-header{
    margin-top:0;
    font-size:5rem;
}

.med-header{
    font-size:3rem;
    margin-bottom:3vh;
}

.about-description{
    font-size:1.6rem;
}

.information-paragraph{
    width:100%;
    margin-bottom:5vh;
    text-align:justify;
}

.certificate-wrapper{
    width:100%;
    text-align:center;
    font-size:2rem;
    text-decoration:underline;
    color:black;
}

@media (max-width: 1100px) {
    .about-desc-wrapper, .information-paragraph{
        text-align:left;
    }
    .container{
        margin:4%;
        width:92%;
    }
    .row{
        display:block;
        margin-bottom:5vh;
    }
}

