.myfooter{
    height:200px;
    width:100%;
    background-color:rgb(191, 220, 232);
}

.communication-wrapper{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    justify-content:center;
}

.communication-content{
    font-size:2rem;
    text-align:center;
    color:black;
}

.footer-link{
    font-size:3rem;
    margin:5px;
}

.footer-icon{
    color:black;
}

.email-link{
    font-size:6rem;
}

@media (max-width:800px){
    .email-link{
        font-size:min(8vw,8vh);
    }
}