body{
    margin:0px;
    padding:0px;
}

header{
    justify-content:center;
    align-items:center;
    display:flex;
    height:20%;
    margin:0;
    background-color:black;
}
.mycontainer{
    width:100%;
    position:relative;
    z-index:-1;
    margin-top:5%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.large-header{
    padding-top:8px;
    font-size:min(12vw, 12vh);
}

.medium-header{
    padding-left:8px;
    font-size:min(5vw,5vh);
}

.my-row{
    width:100%;
}
.work-desc-wrapper{
    text-align:center;
    margin-top:2%;
    width:100%;
}

.work-container{
    width:min-content;
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.work-img{
    width:55vw;
    height:auto;
}

.information-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:5vh 0 0 20px;
    font-size:min(3vw, 3vh);
}

.information-paragraph{
    width:100%;
    margin-bottom:5vh;
    text-align:justify;
}

.link-span{
    color:black;
}

.nofuss-link{
    pointer-events:all;
}